table {
    border-collapse: collapse;
}

th,td {
    font-size: 14px;
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}
form {
    padding-left: 3px;

}

div{
    padding: 12px;
}

