table {
    border-collapse: collapse;
    font-style: normal;
    font-family: Arial, sans-serif;
    size: auto;

}

th,td {
    font-size: 14px;
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;

}
h1,text {
    font-family: Arial, sans-serif;
}
form {
    padding-top: 15px;
    size: auto;

}

div{
    padding-left: 1px;
}

